- title t('.title')

= semantic_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
  = error_messages_for resource, :header_message => false
  = f.inputs :email
  = f.buttons do
    %li.commit
      = f.submit t('.send_reset_password_instructions'), :class => [:update, :button]
    %li.cancel
      %span.bottom
      = t('or')
      = link_to t('back').capitalize, :back