= semantic_form_for profile, :url => user_profile_path do |f|
  = error_messages_for profile, :header_message => false
  = f.inputs do
    = f.input :name
    = f.input :gender, :as => :select, :collection => { t('male') => 'M', t('female') => 'F' }
    = f.input :date_of_birth, :start_year => Date.today.year, :end_year => Date.today.year - 100
    = f.input :address
    = f.input :city
    = f.input :postcode
  
  = f.buttons do
    = f.commit_button t('.save'), :button_html => { :class => :button }