= semantic_form_for @merchant, :url => merchant_profile_path do |f|
  = error_messages_for @merchant, :header_message => false
  
  = f.inputs :id => 'merchant_top_inputs' do
    = f.input :name, :hint => t('.name_description')
    = f.input :business_category
    = f.input :address
    = f.input :postcode
    = f.input :city
  = f.inputs do
    = f.input :phone
    = f.input :hours
    = f.input :brand_tokens, :label => t('attributes.brands'), :hint => t('.brands_hint'), :as => :string, :input_html => { "data-pre" => @merchant.brands.map(&:attributes).to_json }
    = f.input :description
  = f.buttons do
    = f.commit_button t('.save'), :button_html => { :class => :button }