#photo_container
  #photos{:class => "photos#{photos.count}"}
    - photos.each do |photo|
      .photo
        = link_to image_tag(photo.data.url(:small)), photo.data.url
        = link_to 'Delete', photo_path(photo), :remote => true, :method => :delete, :class => 'delete_photo', :'data-type' => :json, :confirm => t('.confirm_delete')

  - if local_assigns.has_key?(:uploadable) && uploadable && photos.count < 6
    #file-uploader
      %noscript
        %p Please enable JavaScript to use file uploader
  
    :javascript
      $(function() {
        photoUpload('#{photos_path}', '#{form_authenticity_token}', '#{t('.upload_button')}', '#{t('.drag_drop')}', #{t('.error_messages').to_json});
      });