%p= t('.title', :name => @resource.email)
%p= t('.message')
%p= link_to t('.change'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p= t('.please_ignore')
%p= t('.password_wont_change')