!!!
%html
  %head
    %meta{ :charset => "utf-8" }
    %title= yield(:title) || 'Untitled'
    = yield :head
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tag

  %body
    #body
      %header
        %nav
          - if user_signed_in?
            - if current_user.kind_of?(MerchantUser)
              You are logged in as merchant #{current_user.email}
            - else current_user.kind_of?(Customer)
              You are logged in as customer #{current_user.email}
            = link_to "(Sign out)", destroy_user_session_path, :id => 'sign_out'
          - else
            You are not logged in
            
        = link_to image_tag('logo.png'), root_path
        %h1= yield(:title) if show_title?

      %aside
        - if signed_in?
          = render 'shared/left_menu'
        - else
          = render 'shared/sign_in_links'

      #content
        #flash
          - flash.each do |key, value|
            %div{:id => "flash_#{key}"}= value
        = yield
        .clearfix
      
    %footer= render 'shared/footer'