!!! 5
%html
  %head
    %meta(charset="utf-8")
    %meta(name="description" content="???")
    %meta(name="author" content="???")
    %meta(name="copyright" content="Copyright ??? #{Time.now.year}. All Rights Reserved.")
    
    %title= yield(:title) || ::PRODUCT_NAME
    = yield :head
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    != hoptoad_javascript_notifier
    = csrf_meta_tag
    
    /[if lt IE 9]
      %script{:src => "http://html5shim.googlecode.com/svn/trunk/html5.js"}

  %body
    #body
      %header
        %nav
          - if user_signed_in?
            = t('devise.sessions.signed_in_as', :user => current_user.email)
            - if current_user.kind_of?(MerchantUser)
              = link_to t('.my_account'), edit_user_registration_path
            - else
              = link_to t('.my_account'), edit_user_profile_path
            |
            = link_to t('devise.shared.sign_out'), destroy_user_session_path, :id => 'sign_out'
          - else
            = t('devise.sessions.signed_out')
            
        = link_to image_tag('logo.png'), root_path
        %h1= yield(:title) if show_title?

      %aside
        - if signed_in?
          = render 'left_menu'
        - else
          = render 'sign_in_links'

      #content
        #flash
          - flash.each do |key, value|
            %div{:id => "flash_#{key}"}= value
        = yield
        .clearfix
      
    %footer= render 'footer'