!!!
%html
  %head
    %meta{ :charset => "utf-8" }
    %title= yield(:title) || 'Untitled'
    = yield :head
    = stylesheet_link_tag 'application'
    != hoptoad_javascript_notifier
    = javascript_include_tag 'application'
    = csrf_meta_tag

  %body
    #body
      %header
        %nav
          - if user_signed_in?
            = t('devise.sessions.signed_in_as', :user => current_user.email)
            = link_to "(#{t('devise.shared.sign_out')})", destroy_user_session_path, :id => 'sign_out'
          - else
            = t('devise.sessions.signed_out')
            
        = link_to image_tag('logo.png'), root_path
        %h1= yield(:title) if show_title?

      %aside
        - if signed_in?
          = render 'shared/left_menu'
        - else
          = render 'shared/sign_in_links'

      #content
        #flash
          - flash.each do |key, value|
            %div{:id => "flash_#{key}"}= value
        = yield
        .clearfix
      
    %footer= render 'shared/footer'